<div class="home-container">
  <h2 *ngIf="!showTitlePrompt && !showNoteEditor">SecureTime</h2>

  <ng-container *ngIf="!isAuthenticated(); else loggedInTemplate">
    <button [routerLink]="'/login'">Login</button>
    <br />
    <button [routerLink]="'/register'">Register</button>
    </ng-container>

    <ng-template #loggedInTemplate>
        <!-- Header e Logout (apenas quando não estiver criando/editando) -->
        <div *ngIf="!showTitlePrompt && !showNoteEditor" class="header-info">
        <button class="button-logout" (click)="logout()"><h1>Logout</h1></button>
        </div>

        <!-- Modal para o título da nota -->
        <div class="modal" *ngIf="showTitlePrompt">
        <h3>Digite o título da nota</h3>
        <input type="text" [(ngModel)]="newNoteTitle" placeholder="Título da nota" />
        <button (click)="confirmTitle()">Continuar</button>
        <button (click)="cancelEdit()">Cancelar</button>
        </div>

        <!-- Editor da nota -->
        <div class="note-form" *ngIf="showNoteEditor">
        <h3>{{ editingNote ? 'Editando' : 'Criando' }}: {{ newNoteTitle }}</h3>
        <textarea [(ngModel)]="newNoteContent" placeholder="Digite o conteúdo da nota..."></textarea>
        <button (click)="editingNote ? saveEdit() : createNote()">
            {{ editingNote ? 'Salvar' : 'Criar' }}
        </button>
        <button (click)="cancelEdit()">Cancelar</button>
        </div>

        <div class="notes-container-plus" *ngIf="!showTitlePrompt && !showNoteEditor">
            <!-- Cartão de criação minimalista (só o "+") -->
            <div class="create-document" (click)="openNoteTitlePrompt()">
                <span class="plus-symbol">+</span>
            </div>
        </div>

        <!-- Container com o cartão de criação e os cartões de nota -->
        <div class="notes-container" *ngIf="!showTitlePrompt && !showNoteEditor">
            <!-- Cartões de nota existentes -->
            <div class="note-card" *ngFor="let note of notes" (click)="editNote(note)">
                <div class="note-icon">📝</div>
                <!-- Limita o título aos primeiros 15 caracteres -->
                <div class="note-title">{{ note.title | slice:0:13 }}</div>
            </div>
        </div>
        
    </ng-template>
</div>
