<div class="register-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
        <h2>REGISTER</h2>
        <label for="login">E-mail</label>
        <input id="login" formControlName="login" type="email" />
        <div *ngIf="registerForm.get('login')?.invalid && registerForm.get('login')?.touched">
        E-mail inválido.
        </div>
    </div>

    <div>
        <label for="password">Senha</label>
        <input id="password" formControlName="password" type="password" (input)="onPasswordChange()" />
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
            Senha invalida
        </div>

    <ul class="password-requirements">
        <li [class.met]="passwordRequirements.length">Mínimo de 8 caracteres</li>
        <li [class.met]="passwordRequirements.uppercase">Uma letra maiúscula</li>
        <li [class.met]="passwordRequirements.lowercase">Uma letra minúscula</li>
        <li [class.met]="passwordRequirements.number">Um número</li>
        <li [class.met]="passwordRequirements.specialChar">Um caractere especial</li>
    </ul>

    <div class="password-strength">
        <div class="strength-bar" 
                [style.width]="passwordStrengthPercentage + '%'" 
                [ngClass]="passwordStrength">
        </div>
        <span>{{ passwordStrength }}</span>
        </div>
    </div>

    <div>
        <label for="confirmPassword">Confirmar Senha</label>
        <input id="confirmPassword" formControlName="confirmPassword" type="password" />
        <div *ngIf="registerForm.hasError('mismatch') && registerForm.get('confirmPassword')?.touched">
        As senhas não correspondem.
        </div>
    </div>

    <div>
        <label class="checkbox-container">
            <input type="checkbox" formControlName="terms" />
            <span class="checkmark"></span> Eu aceito os <a href="#">termos e condições</a>.
        </label>
        <div *ngIf="registerForm.get('terms')?.invalid && registerForm.get('terms')?.touched">
            Você deve aceitar os termos para continuar.
        </div>
    </div>

    <button type="submit" [disabled]="registerForm.invalid || !validatePassword()">Registrar</button>

    </form>
</div>
