h2 {
  color: #00aeff;
  font-family: 'Courier New', Courier, monospace;
}

.register-container {
  text-align: center;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  margin-top: 200px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.register-container form div {
  margin-bottom: 15px;
  text-align: left;
}

.register-container label {
  display: inline;
  margin-bottom: 5px;
}

.register-container label::after {
  content: "*";
  color: #00aeff;
  margin-left: 2px;
}

.register-container input[type="email"],
.register-container input[type="password"] {
  width: calc(100% - 12px);
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.register-container input[type="email"]:focus,
.register-container input[type="password"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.register-container button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.register-container button[type="submit"]:hover {
  background-color: #0056b3;
}

.register-container button[type="submit"]:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.register-container div div {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}

.checkbox-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
}

.checkbox-container input {
  display: none;
}

.checkbox-container .checkmark {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 2px solid #007bff;
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

.checkbox-container input:checked + .checkmark {
  background-color: #007bff;
  border-color: #007bff;
}

.checkbox-container input:checked + .checkmark::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
